<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card
    status="hold"
    updatedAt="30/07/2021 16:29"
    createdAt="30/07/2021"
    notes="we have two bags that are full, one with plastic and the other with glasses">
  </app-pickup-call-card>

  <app-pickup-call-card
    status="processing"
    updatedAt="30/07/2021 16:29"
    createdAt="30/07/2021"
    notes="we have two bags that are full, one with plastic and the other with glasses">
  </app-pickup-call-card>

  <app-pickup-call-card
    status="finished"
    updatedAt="30/07/2021 16:29"
    createdAt="30/07/2021"
    value="$ 15.0">
  </app-pickup-call-card>
</ion-content>
